@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.bear-header {
  background-image: url("/src/images/bear-picture.jpg");
  background-size: cover;
  height:300px;
}

.header-text {
  color: white;
}

#build-a-bear {
  border: solid black 1px;
  border-radius: 25px;
  margin: 10px;
}

.card-img-top {
  height: 175px;
  object-fit: fill;
}

.bearDen {
  border: solid black 1px;
  border-radius: 25px;
  margin: 10px;
}
